<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="<%= htmlWebpackPlugin.options.desc %>" />
<meta name="copyright" content="<%= htmlWebpackPlugin.options.copyright %>" />
<meta name="author" content="<%= htmlWebpackPlugin.options.author %>"/>
<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>"/>
<meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
<meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>" />
<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
<meta property="og:description" content="<%= htmlWebpackPlugin.options.desc %>" />
<title><%= htmlWebpackPlugin.options.title %></title>

<link rel="shortcut icon" type="image/x-icon" href="http://s.nx.com/s2/game/closers/cbt/common/favicon.ico" />
<link rel="icon" type="image/x-icon" href="http://s.nx.com/s2/game/closers/cbt/common/favicon.ico" />    
<script type="text/javascript" src="http://js.nx.com/s1/closers/common/jquery.min.js"></script>
<script type="text/javascript" src="http://js.nx.com/s1/global/ngb_head.js" charset="ks_c_5601-1987"></script>
<script type="text/javascript" src="http://js.nx.com/s1/common/GNXBanner.js" charset="utf-8"></script>
<script type="text/javascript" src="http://js.nx.com/s1/Game/jquery/ngw.ui.min.js"></script>
<script type="text/javascript" src="http://js.nx.com/s1/p2/ps.min.js" charset="utf-8" data-name="PS" data-ngm="true" data-nxlogin="true"></script>

<script type="text/javascript">$.ajaxSetup({ cache: false });</script>

<!-- [S] UI 파트 스크립트 -->
<link rel="stylesheet" type="text/css" href="http://s.nx.com/s3/closers/event/2018/templete/style.common.css">
<link rel="stylesheet" type="text/css" href="http://s.nx.com/s3/closers/event/2017/templete/style.topBar.css"/>
<!-- [E] //UI 파트 스크립트 -->

<!-- [S] 개발 파트 WebJs, 사이드 배너 리스트 -->
<script type="text/javascript">
	var topBar = {};
	topBar.json = '[{"bg": "http://file.nexon.com/NxFile/Download/FileDownloader.aspx?oidFile=4764900884993803358","link": "/events/2020/02/13/Pet.aspx ","target": "_self"},{"bg": "http://file.nexon.com/NxFile/Download/FileDownloader.aspx?oidFile=5413419222745220208","link": "/events/2020/02/13/Costume.aspx ","target": "_self"},{"bg": "http://file.nexon.com/NxFile/Download/FileDownloader.aspx?oidFile=5701649594601964647","link": "/events/2020/02/04/Winter.aspx ","target": "_self"},{"bg": "http://file.nexon.com/NxFile/Download/FileDownloader.aspx?oidFile=5485476833963017276","link": "/events/2020/02/04/Update.aspx ","target": "_self"},{"bg": "http://file.nexon.com/NxFile/Download/FileDownloader.aspx?oidFile=5413419239925089817","link": "/events/2020/01/16/NewReturnPlayer.aspx","target": "_self"},{"bg": "http://file.nexon.com/NxFile/Download/FileDownloader.aspx?oidFile=5701649551652291807","link": "/events/2019/12/19/samyang.aspx","target": "_self"}]';
</script>

<script type="text/javascript" src="http://closers.nexon.com/events/2020/02/04/eventWeb.js?v=1581481075215"></script>
<!-- [E] //개발 파트 WebJs, 사이드 배너 리스트 -->

</head>
<body>
	<div id="wrap"></div>
<!-- NX Global GNB -->
<script src="http://rs.nxfs.nexon.com/common/js/gnb.min.js" data-gamecode="106497" data-ispublicbanner="false"></script>
</body>
</html>
